.title a,
.title span {
  color: #e01515;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.overlay{
  background: #000;
  color: #fff;
  padding: 2rem;
  border-radius: 6px;
}